body {
  align-items: center;
  background-color: #000;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.form {
  background-color: #15172b;
  border-radius: 20px;
  margin-top: 20px;
  box-sizing: border-box;
  height: 620px;
  padding: 40px;
  width: 400px;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin: 0;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 40px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 25px;
}

.ic2 {
  margin-top: 20px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}
.cut-long {
  width: 90px;
}
.cut-long1 {
  width: 110px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.place {
  color: #65657b;
  font-family: sans-serif;
  font-size: 18px;
  left: 20px;
  line-height: 12px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 15px;
}

.input:focus ~ .place,
.input:not(:placeholder-shown) ~ .place {
  transform: translateY(-25px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .place {
  color: #808097;
}

.input:focus ~ .place {
  color: #dc2f55;
}

.submit,
.reset {
  background-color: #08d;
  border-radius: 8px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 40px;
  margin-top: 25px;
  outline: 0;
  text-align: center;
  width: 60%;
  margin-left: 70px;
  padding: 0.6rem 0;
}

.submit:active {
  background-color: #06b;
}

#results,
.reset {
  margin-top: 20px;
}

.reset {
  background-color: rgb(11, 21, 105);
}

#loading,
#results,
.reset {
  display: none;
  text-align: center;
  justify-content: center;
  align-items: center;
}

h3,
p {
  color: rgb(137, 128, 187);
}

h4 {
  color: rgb(122, 137, 197);
}

h3 {
  font-size: 2rem;
  font-weight: 400;
}

p,
h4 {
  font-size: 1.5rem;
  font-weight: 300;
}

.fas {
  color: rgb(58, 47, 124);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.fas {
  animation: rotation 2s forwards ease-in-out;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  70% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
